#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Table container with margin */
.table-container {
  margin: 8px;
  width: calc(100% - 16px); /* Ensure it stretches to the edges minus the margin */
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #5aeaa4; /* Green background */
  color: black; /* Black text for contrast */
  text-align: left; /* Align text to the left */
  font-weight: bold;
  border-bottom: 2px solid #ccc; /* Subtle border */
}

.table-header th {
  padding: 10px; /* Add padding for spacing */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  table {
    border: 1px solid #444;
  }


  th, td {
    border: 1px solid #444;
    color: #ffffff;
  }

  /* h3 {
    color: #ffffff;
    background-color: #333333;
  } */

  button {
    background-color: #444;
    color: #ffffff;
    border: 1px solid #666;
  }

  button:hover {
    background-color: #555;
  }
  
}

/* Default (light mode) styles */
.modal-checkbox-label {
  color: black; /* Default text color */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .modal-checkbox-label {
    color: white; /* Change text color for dark mode */
  }
}